version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=leads_db

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/code  # Volume para Hot Reload funcionar
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb+srv://test:12345678%40a@leads.global.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000
      - DATABASE_NAME=leads_db

volumes:
  mongo_data:
